<form *ngIf="emailForm" [formGroup]="emailForm" (submit)="sendResetEmail(emailForm.value)">
    <c-input [_formGroup_]="emailForm" _formControlName_="email" _labelText_="USER.EMAIL" _type_="email" [_mandatory_]="true"></c-input>
    <ion-button [disabled]="!emailForm.valid" type="submit" expand="full">
        {{ 'USER.RESET_PASSWORD' | translate }}
    </ion-button>
</form>
<form *ngIf="passwordForm" [formGroup]="passwordForm" (submit)="resetPassword(passwordForm.value)">
    <c-input [_formGroup_]="passwordForm" _formControlName_="password" _labelText_="USER.PASSWORD" _type_="password" [_mandatory_]="true"></c-input>
    <c-input
        [_formGroup_]="passwordForm"
        _formControlName_="confirmPassword"
        _labelText_="USER.CONFIRM_PASSWORD"
        _type_="password"
        [_mandatory_]="true"
    ></c-input>
    <ion-button [disabled]="!passwordForm.valid" type="submit" expand="full">
        {{ 'USER.RESET_PASSWORD' | translate }}
    </ion-button>
</form>
