<form [formGroup]="formGroup" (submit)="login(formGroup.value)">
    <c-input [_formGroup_]="formGroup" _formControlName_="userName" _labelText_="USER.USER_NAME" [_mandatory_]="true"></c-input>
    <c-input [_formGroup_]="formGroup" _formControlName_="password" _labelText_="USER.PASSWORD" _type_="password" [_mandatory_]="true"></c-input>
    <p>
        <a (click)="forgotPassword($event)" href="#">{{ 'USER.FORGOT_PASSWORD' | translate }}</a>
    </p>
    <ion-button [disabled]="!formGroup.valid" type="submit" expand="full">
        <fa-icon [icon]="'right-to-bracket'" class="mr-1"></fa-icon>
        {{ 'USER.LOGIN' | translate }}
    </ion-button>
</form>
